@import '../../../assets/styles/variables';

.searchJob {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid $borderColor;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
  background-color: $colorPaper;
}
@media (max-width: 959px) {
  .searchJob {
    margin: 1rem 0rem 1rem;
  }
}

.title {
  font-size: 0.8rem;
  font-weight: bold;
  color: $colorTextSecondary;
  margin: 0;
}

.inputs {
  display: flex;
  margin: 1.5rem 0 1rem;
  border: 1px solid $borderColor;
}
@media (max-width: 959px) {
  .inputs {
    margin-bottom: 0.5rem;
    border: 1px solid $borderColor;
  }
}

.btnIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: $colorPaper;
}

@media (max-width: 959px) {
  .btn {
    padding: 0.5rem !important;
    min-width: auto;
  }
  .btnTitle {
    display: none;
  }
}

.error {
  font-size: 0.8rem;
  color: red;
}
