@import '../../../../../assets//styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 1.5rem 0 1rem;
  border-top: 1px solid $borderColor;
  a {
    text-decoration: none;
  }
}

.actions {
  display: flex;
  align-items: center;
}

@media (max-width: 959px) {
  .link {
    display: none;
  }
}

.actionPrimary {
  margin-right: 0.5rem;
  background-color: $backgroundButton1;
}

.action {
  margin-right: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
}

.share {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.shareIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #8d969d;
  border-radius: 50%;
  color: #8d969d;
  svg {
    width: 1rem;
    height: 1rem;
  }
}
@media (max-width: 959px) {
  .shareIcon {
    width: 0.75rem;
    height: 0.75rem;
    border: none;
  }
}

.shareText {
  font-size: 0.7rem;
  color: #8d969d;
}
@media (max-width: 959px) {
  .shareText {
    display: none;
  }
}
