@import '../../../assets/styles/variables.scss';

.form {
  max-width: 736px;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  background: #FFF;
  margin-bottom: 20px;
  a {
    flex: 1;
    text-decoration: none;
  }
}
@media (max-width: 959px) {
  .form {
    display: flex;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
    max-width: 100%; 
    justify-content: center;
    flex-direction: column;
    padding: 24px 0px;
    align-items: center;
    gap: 0px;
    border-radius: 0;
    a {
      margin-top: 8px;
      width: 100%;
    }
  }
}

.formTitle {
  font-size: 13px;
  color: $colorTextSecondary;
  font-weight: bold;
  font-family: $fontMedium;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #5C6268;
}
@media (max-width: 959px) {
  .formTitle {
    font-size: 14px;
    padding-right: 202.172px;
    margin-bottom: 24px;
  }
}

.inputs {
  display: flex;
  align-items: center;
  margin: 34px 0;
  gap: 10px;
}
@media (max-width: 959px) {
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 24px;
    margin: 0;
  }
}

.btn {
  display: flex;
  height: 33px;
  width: 102px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #00799B;
  border-radius: 7px;
  margin-left: 30px;

  &:hover {
    background-color: #134E5F;
  }

}

.btnTitle {
  color: #FFF;
  text-align: center;
  font-family: 'Roboto-Regular'; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.857px;
  text-transform: capitalize;
}

.btnIcon {
  width: 20px;
  height: 20px;
  color: #fff;
}

.error {
  font-size: 12.8px;
  color: red;

  @media (max-width: 959px) {
    margin-top: 24px;
    max-width: 280px;
  }
}

@media (max-width: 959px) {
  .btn {
    display: flex;
    width: 280px;
    height: 32px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    margin-top: 14px
  }
  .btnTitle {
    margin-top: 0;
  }
  .btnIcon {
    margin-left: 0;
  }
}

.categories {
  display: flex;
  align-items: center;
}

.found {
  margin-top: 32px;
  padding: 0;

  @media (max-width: 959px) {
    margin-top: 24px;
  }
}

.heading {
  font-size: 13px;
  color: #485c6e;
  font-weight: 700;
  margin: 0;

  @media (max-width: 959px) {
    margin-top: 24px;
    padding-right: 40.891px;
  }
}